In [1]:
import pandas as pd
import numpy as np

# Importing csv of postcode and local government areas to start creating the linking table for the ERD

In [2]:
df = pd.read_csv('Raw Data/LGA(councils)_postcode(POA)/CP2006LGA_2006POA.csv')
df

,LGA_2006_Code,LGA_2006_Name,POA_2006_Code,POA_2006_Name,Ratio,Percent
0,10050,Albury (C),2640,2640,1.000000,100.000000
1,10050,Albury (C),2641,2641,1.000000,100.000000
2,10050,Albury (C),2642,2642,0.139574,13.957400
3,10110,Armidale Dumaresq (A),2350,2350,0.948009,94.800900
4,10150,Ashfield (A),2045,2045,1.000000,100.000000
...,...,...,...,...,...,...
3281,89399,Unincorporated ACT,2914,2914,1.000000,100.000000
3282,99399,Unincorp. Other Territories,2540,2540,0.009662,0.966221
3283,99399,Unincorp. Other Territories,6798,6798,1.000000,100.000000
3284,99399,Unincorp. Other Territories,6799,6799,1.000000,100.000000
3285,99399,Unincorp. Other Territories,9999,9999,1.000000,100.000000

Renaming columns

In [3]:
df.columns = ['local_gov_area_code','local_gov_name','post_code','post_code_2','ratio','percent']

Filtering for columns we want

In [4]:
df2 = df[['local_gov_name','post_code']].copy()
df2
#df2.loc[df2["post_code"] == 3150,:]

                   local_gov_name  post_code
0                      Albury (C)       2640
1                      Albury (C)       2641
2                      Albury (C)       2642
3           Armidale Dumaresq (A)       2350
4                    Ashfield (A)       2045
...                           ...        ...
3281           Unincorporated ACT       2914
3282  Unincorp. Other Territories       2540
3283  Unincorp. Other Territories       6798
3284  Unincorp. Other Territories       6799
3285  Unincorp. Other Territories       9999

[3286 rows x 2 columns]

In [5]:
np.dtype(df2["post_code"][0])

dtype('int64')

# Importing csv of criminal incidents per suburb. This will allow linking of post code to suburb name to local governement area

In [8]:
pd.read_excel('Raw Data/Crime rate/Data_Tables_LGA_Criminal_Incidents_Year_Ending_September_2020.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'Raw Data/Crime rate/Data_Tables_LGA_Criminal_Incidents_Year_Ending_September_2020/Table 03.xlsx'