### Transform premise DataFrame

In [4]:
# # Create a filtered dataframe from specific columns
# premise_cols = ["License Serial Number", "Premises Name", "County ID Code"]
# premise_transformed= premise_df[premise_cols].copy()

# # Rename the column headers
# premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
#                                                           "Premises Name": "premise_name",
#                                                           "County ID Code": "county_id"})

# # Clean the data by dropping duplicates and setting the index
# premise_transformed.drop_duplicates("id", inplace=True)
# premise_transformed.set_index("id", inplace=True)

# premise_transformed.head()

                         premise_name  county_id
id
1311660  CANA ARRIBA GROCERY NO 2 INC          0
1310023    JOHANA GROCERY & DELI CORP          0
1310024             TKO BEVERAGES LLC          1
1311663  181 LEXINGTON AVENUE BBQ LLC          2
1310029        AZIZ DELI & GRILL CORP          1

### Transform county DataFrame

In [5]:
# county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
# county_transformed = county_df[county_cols].copy()

# # Rename the column headers
# county_transformed = county_transformed.rename(columns={"ID": "id",
#                                                          "County Name (Licensee)": "county_name",
#                                                          "License Count": "license_count",
#                                                          "County ID Code": "county_id"})

# # Set index
# county_transformed.set_index("id", inplace=True)

# county_transformed.head()

       county_name  county_id  license_count
id
0   Albury-Wodonga          5             77
1         Armidale         59              4
2          Ballina          0            104
3        Balranald         35             14
4     Batemans Bay         41              9

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [11]:
suburbs_file = "01_Inputs/suburbs_postcode_lat_lon.csv"
suburbs_df = pd.read_csv(suburbs_file)
suburbs_df.head()

   postcode        suburb        lat         lon
0      3067    abbotsford -37.801781  144.998752
1      3040    aberfeldie -37.756690  144.896259
2      3042  airport west -37.711698  144.887037
3      3021     albanvale -37.745934  144.770027
4      3206   albert park -37.840705  144.955710

In [3]:
crime_types_file = "01_Inputs/crime_type.csv"
crime_types_df = pd.read_csv(crime_types_file)
crime_types_df.head()

  crime_id                                       crime_name
0      A20                     Assault and related offences
1      A50                                          Robbery
2      A70   Stalking, harassment and threatening behaviour
3      A80  Dangerous and negligent acts endangering people
4      B10                                            Arson

In [4]:
place_types_file = "01_Inputs/places_types.csv"
place_types_df = pd.read_csv(place_types_file)
place_types_df.head()

   place_id    place_type
0         0  liquor_store
1         1        police
2         2          park

In [5]:
suburb_vs_crime_file = "01_Inputs/suburb_vs_crime.csv"
suburb_vs_crime_df = pd.read_csv(suburb_vs_crime_file)
suburb_vs_crime_df.head()

,lga_name,postcode,suburb,crime_id,crime_name,average_incident
0,Banyule,3079,ivanhoe,A20,Assault and related offences,43.600000
1,Banyule,3079,ivanhoe,A50,Robbery,3.000000
2,Banyule,3079,ivanhoe,A70,"Stalking, harassment and threatening behaviour",8.100000
3,Banyule,3079,ivanhoe,A80,Dangerous and negligent acts endangering people,3.333333
4,Banyule,3079,ivanhoe,B10,Arson,3.400000

In [6]:
place_type_vs_crime_file = "01_Inputs/place_type_vs_crime.csv"
place_type_vs_crime_df = pd.read_csv(place_type_vs_crime_file)
place_type_vs_crime_df.head()

   Unnamed: 0  place_id crime_id  average_incident
0           0         0      A20         56.000000
1           1         0      A50          9.400000
2           2         0      A70          7.000000
3           3         0      A80          3.333333
4           4         0      B10          3.250000

In [7]:
local_govt_areas_file = "01_Inputs/lga_id_table.csv"
local_govt_areas_df = pd.read_csv(local_govt_areas_file)
local_govt_areas_df.head()

          lga  lga_id
0     banyule       1
1     darebin       2
2  whittlesea       3
3   nillumbik       4
4     bayside       5

In [ ]:
lga_suburbs_file = "01_Inputs/x.csv"
lga_suburbs_df = pd.read_csv(lga_suburbs_file)
lga_suburbs_df.head()

In [8]:
suburb_vs_place_file = "01_Inputs/suburb_vs_places_type.csv"
suburb_vs_place_df = pd.read_csv(suburb_vs_place_file)
suburb_vs_place_df.head()

       suburb  place_id  place_type_count
0  abbotsford         0              15.0
1  abbotsford         1               1.0
2  abbotsford         2              20.0
3  aberfeldie         0               1.0
4  aberfeldie         1               0.0

### Create database connection

In [9]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [10]:
# Confirm tables
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Load DataFrames into database

In [10]:
suburbs_transformed.to_sql(name='suburbs', con=engine, if_exists='append', index=True)

In [11]:
crime_types_transformed.to_sql(name='crime_types', con=engine, if_exists='append', index=True)

In [ ]:
place_types_transformed.to_sql(name='place_types', con=engine, if_exists='append', index=True)

In [ ]:
suburb_vs_crime_transformed.to_sql(name='suburb_vs_crime', con=engine, if_exists='append', index=True)

In [ ]:
place_type_vs_crime_transformed.to_sql(name='place_type_vs_crime', con=engine, if_exists='append', index=True)

In [ ]:
local_govt_areas_transformed.to_sql(name='local_govt_areas', con=engine, if_exists='append', index=True)

In [ ]:
lga_suburbs_transformed.to_sql(name='lga_suburbs', con=engine, if_exists='append', index=True)

In [ ]:
suburb_vs_place_type_transformed.to_sql(name='suburb_vs_place_type', con=engine, if_exists='append', index=True)