In [1]:
import pandas as pd
import numpy as np

### Reading in data of all australian crimes by local government area, suburb and offences

In [2]:
aus_crime_df = pd.read_excel('../Raw Data/Crime rate/table3_criminal_incidents_offence_lga_postcode_suburb_oct2010 _sept2020.xlsx')

In [3]:
aus_crime_df

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2020,September,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B41 Motor vehicle theft,1
1,2020,September,Alpine,3691,Glen Creek,C Drug offences,C30 Drug use and possession,C32 Drug possession,1
2,2020,September,Alpine,3691,Glen Creek,F Other offences,F90 Miscellaneous offences,F93 Cruelty to animals,1
3,2020,September,Alpine,3691,Gundowring,B Property and deception offences,B40 Theft,B49 Other theft,1
4,2020,September,Alpine,3691,Gundowring,E Justice procedures offences,E10 Justice procedures,E13 Resist or hinder officer,1
...,...,...,...,...,...,...,...,...,...
315466,2011,September,Yarriambiack,3489,Tempy,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1
315467,2011,September,Yarriambiack,3489,Tempy,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A732 Non-FV Threatening behaviour,1
315468,2011,September,Yarriambiack,3489,Tempy,B Property and deception offences,B20 Property damage,B21 Criminal damage,3
315469,2011,September,Yarriambiack,3489,Tempy,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1
315470,2011,September,Yarriambiack,3491,Patchewollock,A Crimes against the person,Other crimes against the person,Other crimes against the person,1

### used a group by to filter for relevant data

In [4]:
aus_crime_df_group = pd.DataFrame(aus_crime_df.groupby(['Year','Local Government Area','Suburb/Town Name','Postcode'])['Incidents Recorded'].sum())

### reseting index

In [5]:
aus_crime_df_group = aus_crime_df_group.reset_index()

### renaming columns

In [6]:
aus_crime_df_group.columns = ['year','lga','suburb','postcode','total_incidents']

In [7]:
aus_crime_df_group

       year           lga         suburb  postcode  total_incidents
0      2011        Alpine       Abbeyard      3737                2
1      2011        Alpine      Barwidgee      3737                1
2      2011        Alpine         Bright      3741               68
3      2011        Alpine       Buckland      3740                2
4      2011        Alpine  Buffalo River      3737                2
...     ...           ...            ...       ...              ...
24201  2020  Yarriambiack          Speed      3488                2
24202  2020  Yarriambiack         Wallup      3401                1
24203  2020  Yarriambiack  Warracknabeal      3393              178
24204  2020  Yarriambiack      Woomelang      3485                2
24205  2020  Yarriambiack        Yaapeet      3424                5

[24206 rows x 5 columns]

### reading in suburbs of greater melbourne csv

In [9]:
melb_suburbs_df = pd.read_csv('../Raw Data/melbourne_suburbs.csv')
melb_suburbs_df

                 suburb
0            Abbotsford
1            Aberfeldie
2          Airport West
3             Albanvale
4           Albert Park
..                  ...
317        Williamstown
318  Williamstown North
319             Windsor
320           Yallambie
321          Yarraville

[322 rows x 1 columns]

### merging aus_crime_df_group with melb_suburbs_df for only melbourne suburbs

In [10]:
merged_melb_subs = aus_crime_df_group.merge(melb_suburbs_df, on = 'suburb', how = 'inner')
merged_melb_subs

      year           lga        suburb  postcode  total_incidents
0     2011       Banyule     Bellfield      3081               93
1     2012       Banyule     Bellfield      3081              110
2     2013       Banyule     Bellfield      3081              104
3     2014       Banyule     Bellfield      3081              105
4     2015       Banyule     Bellfield      3081               81
...    ...           ...           ...       ...              ...
3757  2016  Yarra Ranges  Wandin North      3139               86
3758  2017  Yarra Ranges  Wandin North      3139               75
3759  2018  Yarra Ranges  Wandin North      3139               80
3760  2019  Yarra Ranges  Wandin North      3139               59
3761  2020  Yarra Ranges  Wandin North      3139               66

[3762 rows x 5 columns]

### filtering for specific year

In [11]:
merged_melb_subs = merged_melb_subs.loc[merged_melb_subs['year'] == 2020,:]

In [12]:
merged_melb_subs

      year           lga        suburb  postcode  total_incidents
11    2020       Banyule     Bellfield      3081              163
21    2020       Banyule    Briar Hill      3088               76
58    2020       Banyule      Bundoora      3083              332
59    2020       Darebin      Bundoora      3083              354
60    2020       Darebin      Bundoora      3086               78
...    ...           ...           ...       ...              ...
3721  2020  Yarra Ranges    Sherbrooke      3789                7
3731  2020  Yarra Ranges        Tecoma      3160               97
3741  2020  Yarra Ranges     The Patch      3792                9
3751  2020  Yarra Ranges         Upwey      3158              227
3761  2020  Yarra Ranges  Wandin North      3139               66

[375 rows x 5 columns]

### grouping by lga suburb and postcode for sum of total incidnets

In [13]:
merged_group = pd.DataFrame(merged_melb_subs.groupby(['lga','suburb','postcode'])['total_incidents'].sum())

In [14]:
merged_group

                                            total_incidents
lga          suburb               postcode
Banyule      Bellfield            3081                  163
             Briar Hill           3088                   76
             Bundoora             3083                  332
             Eaglemont            3084                   91
             Eltham               3095                    1
...                                                     ...
Yarra Ranges Tecoma               3160                   97
             The Patch            3792                    9
             Upper Ferntree Gully 3156                   20
             Upwey                3158                  227
             Wandin North         3139                   66

[375 rows x 1 columns]

### creating list of numbers to give ids for local government areas

In [15]:
len(list(merged_melb_subs['lga'].unique()))

31

In [16]:
numbers = [x for x in range(1,32)]

In [17]:
lga_df = pd.DataFrame(merged_melb_subs['lga'].unique())
lga_df['lga'] = numbers

# id and lga table

In [18]:
lga_df.columns = ['lga','lga_id']
lga_df

                  lga  lga_id
0             Banyule       1
1             Darebin       2
2          Whittlesea       3
3           Nillumbik       4
4             Bayside       5
5           Glen Eira       6
6            Kingston       7
7          Boroondara       8
8          Whitehorse       9
9         Stonnington      10
10           Brimbank      11
11        Hobsons Bay      12
12     East Gippsland      13
13             Melton      14
14               Hume      15
15      Moonee Valley      16
16           Moreland      17
17           Cardinia      18
18       Yarra Ranges      19
19              Casey      20
20  Greater Dandenong      21
21              Yarra      22
22          Frankston      23
23       Port Phillip      24
24            Wyndham      25
25             Monash      26
26               Knox      27
27         Manningham      28
28        Maribyrnong      29
29          Maroondah      30
30          Melbourne      31

In [19]:
lga_df.to_csv('lga_id_table')

### resetting index

In [20]:
merged_group_reset = merged_group.reset_index()

### adding lga id to main table

In [21]:
merged_group_reset=merged_group_reset.merge(lga_df, on = 'lga')

In [22]:
merged_group_reset

              lga                suburb  postcode  total_incidents  lga_id
0         Banyule             Bellfield      3081              163       1
1         Banyule            Briar Hill      3088               76       1
2         Banyule              Bundoora      3083              332       1
3         Banyule             Eaglemont      3084               91       1
4         Banyule                Eltham      3095                1       1
..            ...                   ...       ...              ...     ...
370  Yarra Ranges                Tecoma      3160               97      19
371  Yarra Ranges             The Patch      3792                9      19
372  Yarra Ranges  Upper Ferntree Gully      3156               20      19
373  Yarra Ranges                 Upwey      3158              227      19
374  Yarra Ranges          Wandin North      3139               66      19

[375 rows x 5 columns]

# suburb postcode table

In [23]:
sub_postcode = merged_group_reset[['postcode','suburb']]
sub_postcode

     postcode                suburb
0        3081             Bellfield
1        3088            Briar Hill
2        3083              Bundoora
3        3084             Eaglemont
4        3095                Eltham
..        ...                   ...
370      3160                Tecoma
371      3792             The Patch
372      3156  Upper Ferntree Gully
373      3158                 Upwey
374      3139          Wandin North

[375 rows x 2 columns]

In [24]:
type(sub_postcode['postcode'][0])

numpy.int64

In [25]:
sub_postcode.to_csv('sub_postcode_table.csv')


# linking table

In [26]:
linking_table = merged_group_reset[['lga_id','postcode']]
linking_table

     lga_id  postcode
0         1      3081
1         1      3088
2         1      3083
3         1      3084
4         1      3095
..      ...       ...
370      19      3160
371      19      3792
372      19      3156
373      19      3158
374      19      3139

[375 rows x 2 columns]

In [27]:
linking_table.to_csv('linking_table.csv')