In [1]:
import pandas as pd
import numpy as np

### Reading in data of all australian crimes by local government area, suburb and offences

In [2]:
crime_df=pd.read_csv('../003_Extract_Transform_Crime_Data/01_Outputs/suburb_vs_crime.csv')
crime_df

,lga_name,postcode,suburb,crime_id,crime_name,average_incident
0,Banyule,3079,ivanhoe,A20,Assault and related offences,43.600000
1,Banyule,3079,ivanhoe,A50,Robbery,3.000000
2,Banyule,3079,ivanhoe,A70,"Stalking, harassment and threatening behaviour",8.100000
3,Banyule,3079,ivanhoe,A80,Dangerous and negligent acts endangering people,3.333333
4,Banyule,3079,ivanhoe,B10,Arson,3.400000
...,...,...,...,...,...,...
6479,Yarra Ranges,3796,mount evelyn,D30,Public nuisance offences,1.833333
6480,Yarra Ranges,3796,mount evelyn,E10,Justice procedures,4.250000
6481,Yarra Ranges,3796,mount evelyn,E20,Breaches of orders,21.800000
6482,Yarra Ranges,3796,mount evelyn,F90,Miscellaneous offences,4.333333
6483,Yarra Ranges,3796,mount evelyn,Other,crimes against the person,10.300000

### Making all string values lower case

In [3]:
crime_df['lga_name'] = crime_df['lga_name'].str.lower()
crime_df['suburb'] = crime_df['suburb'].str.lower()
crime_df

,lga_name,postcode,suburb,crime_id,crime_name,average_incident
0,banyule,3079,ivanhoe,A20,Assault and related offences,43.600000
1,banyule,3079,ivanhoe,A50,Robbery,3.000000
2,banyule,3079,ivanhoe,A70,"Stalking, harassment and threatening behaviour",8.100000
3,banyule,3079,ivanhoe,A80,Dangerous and negligent acts endangering people,3.333333
4,banyule,3079,ivanhoe,B10,Arson,3.400000
...,...,...,...,...,...,...
6479,yarra ranges,3796,mount evelyn,D30,Public nuisance offences,1.833333
6480,yarra ranges,3796,mount evelyn,E10,Justice procedures,4.250000
6481,yarra ranges,3796,mount evelyn,E20,Breaches of orders,21.800000
6482,yarra ranges,3796,mount evelyn,F90,Miscellaneous offences,4.333333
6483,yarra ranges,3796,mount evelyn,Other,crimes against the person,10.300000

### grouping by lga suburb and postcode for sum of total incidnets

In [5]:
melb_crime_df = crime_df[['lga_name','suburb','postcode']]

In [ ]:
melb_crime_df

# id and lga table

### creating list of numbers to give ids for local government areas

In [ ]:
len(list(melb_crime_df['lga_name'].unique()))

In [ ]:
numbers = [x for x in range(1,33)]
lga_name = list(melb_crime_df['lga_name'].unique())

In [ ]:
local_govt_areas = pd.DataFrame({
    'lga_id':numbers,
    'lga_name':lga_name})

In [ ]:
local_govt_areas

In [ ]:
local_govt_areas.to_csv('../005_Load_SQL/01_Inputs/local_govt_areas.csv', index = False)


# linking table

In [ ]:
dropped_df = melb_crime_df.drop_duplicates(subset='suburb')
x = dropped_df.merge(local_govt_areas, on='lga_name', how='inner')

In [ ]:
lga_suburbs = x[['lga_id','suburb']]
lga_suburbs

In [ ]:
lga_suburbs.to_csv('../005_Load_SQL/01_Inputs/lga_suburbs.csv', index = False)